#data-show,
#invest-center,
#news {
    width: 100%;
    margin-top: 20px;
}

.first-glance {
    height: 340px;
    padding-top: 20px;
}

.first-glance ul,
.first-glance ul li {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner a {
    z-index: 100;
    position: absolute;
    top: 40%;
}

.banner a:nth-child(2) {
    left: 760px;
}

.banner a:nth-child(1) {
    left: 30px;
}

.banner ul li {
    background: no-repeat;
    background-size: 820px 320px;
    float: left;
}

.banner a img {
    width: 20px;
}

#data-show {
    margin-top: 10px;
    overflow: hidden;
}

#reg-num,
#rise-speed,
#circle {
    float: left;
}

#reg-num {
    width: 25%;
}

#rise-speed {
    width: 38%;
    margin-left: 5px;
}

#rise-speed > div {
    margin-top: 10px;
}

#circle {
    width: 32%;
}

.line-list,
#invest-list,
#news-area ul {
    list-style: none;
    overflow: hidden;
}

.line-list p {
    font-size: 0.8em;
    margin: 0;
}

.line-list li,
.invest-list--list {
    float: left;
}

.data-show--title {
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #393B52;
    font-size: 1.5em;
}

.data-image {
    margin-top: 0;
    height: 50px;
}

.data-image img {
    height: 45px;
}

#reg-num p:nth-child(2) {
    height: 70px;
    line-height: 70px;
    margin-top: 5px;
}

.count {
    color: #FF9439;
    font-size: 3.6em;
}

.line-list li {
    width: 33.3%;
    position: relative;
}

.speed {
    font-size: 0.9em;
}

#invest-center {
    margin-top: 20px;
}

#invest-center p {
    text-align: center;
    color: #717794;
}

.invest-center--title {
    font-size: 1.5em;
}

#invest-list {
    overflow: hidden;
    background-color: #F6F6F6;
}

.invest-list--list {
    width: 50%;
    height: 240px;
    margin-top: 15px;
}

#zixun {
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #717794;
    font-size: 1.5em;
}

#news-area {
    width: 100%;
    margin-top: -15px;
}

#news-area span,
.title-nav a {
    color: #323140;
}

.title-nav {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

.title-nav span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.title-nav span:nth-child(1) {
    width: 30%;
    margin-left: 35%;
}

.title-nav span:nth-child(2) {
    width: 20%;
    height: 15px;
    text-align: right;
    line-height: 40px;
    font-size: 0.8em;
    margin-left: 10%;
}

#news-area ul {
    top: -12px;
    height: 240px;
    position: relative;
}

#news-area ul li {
    z-index: 100;
    border-bottom: 1px solid #ADB5BB;
    position: absolute;
    width: 48%;
}

#news-area ul li:nth-child(1) {
    left: 1%;
}

#news-area ul li:nth-child(2) {
    left: 51%;
}

#circle {
    margin-top: 10px;
    overflow: hidden;
}

#circle div {
    float: left;
}

#circle-data {
    height: 160px;
    width: 88px;
}

#circle-data ul span {
    font-size: 0.6em;
    color: #767576;
}

#circle-data ul span:nth-child(1) {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#circle-data ul li {
    height: 25px;
}

.svg-circle-g {
    transform: translate(60, 60);
}

.list-item {
    overflow: hidden;
}

.list-item li {
    height: 25px;
    margin-top: 10px;
}

.list-item li span {
    color: #717794;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#policy-item {
    height: 200px;
}

.zixun-item a {
    display: inline-block;
    color: #767576;
    word-wrap: normal;
    width: 20em;
    height: 1em;
    white-space: nowrap;
    line-height: 1em;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ls p:nth-child(1),
#lf p:nth-child(1),
#rf p:nth-child(1),
#rs p:nth-child(1) {
    padding-top: 10px;
}

.zixun-item p {
    font-size: 0.8em;
}
