
#header,
#header-nav,
#header-nav div {
    padding: 0;
}

#header {
    margin: 0;
    font-size: 1em;
    position: relative;
    width: auto;
    height: 45px;
    color: white;
    background-color: #2a324b;
}

#header-nav {
    margin: 0;
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}

#header-nav div {
    float: left;
    zoom: 1;
}

#nav-login {
    height: 45px;
}

#nav-logo {
    position: relative;
    width: 120px;
    left: 80px;
    height: 45px;
}

#nav-logo span {
    display: inline-block;
    width: 160px;
    margin-left: 0;
    height: 40px;
    margin-top: -2px;
    line-height: 40px;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    height: 45px;
}

#fonts {
    width: 100px;
}

#nav-list {
    margin-left: 70px;
    height: 45px;
    width: 520px;
}

#nav-list ul {
    margin-left: 0;
}

#nav-list ul span {
    width: 100%;
}

.nav-item:hover,
#nav-list .active {
    border-top: 4px solid white;
    line-height: 37px;
    height: 41px;
}

#nav-login {
    position: relative;
    left: 10px;
}

.nav-item,
#nav-login ul span {
    color: white;
    height: 45px;
    line-height: 44px;
    display: inline-block;
}

#nav-list ul li,
#nav-login ul li {
    text-align: center;
    float: left;
    height: 45px;
    zoom: 1;
    top: 0;
}

#nav-list ul li {
    width: 120px;
}

#nav-login ul li {
    width: 80px;
}

a {
    text-decoration: none;
}

#service-subnav {
    position: absolute;
    left: -999em;
    width: 100%;
    height: 30px;
    overflow: hidden;
    z-index: 1000;
    background-color: #EBEBEB;
}

#service-subnav ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
    width: 980px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0); 
    top: 0;
    bottom: 0;
}

#service:hover #service-subnav {
    display: block;
    position: absolute;
    left: -1px;
    top: auto;
    right: -1px;
}

#service-subnav ul li {
    width: 80px;
}

#service-subnav ul li:nth-child(1) {
    margin-left: 540px;
}

#service-subnav ul span {
    display: inline-block;
    height: 30px;
    color: #2A324B;
    font-size: 0.9em;
    line-height: 30px;
    text-align: center;
}

#footer{
    width: 100%;
    background-color: #2A324B;
    height: 80px;
    clear:both;
    
}
