
#side-nav {
    position: relative;
    margin-top: 25px;
    height: 45px;
    width: 100%;
}

#filter-nav {
    position: relative;
    float: right;
}

#side-nav #searchForm {
  width: 280px;
  float: left;
}


#filter-nav ul {
    position: relative;
    height: 45px;
}

#filter-nav ul li {
    float: left;
}

#industry-layer,
#area-layer,
#number-in {
    position: absolute;
    display: none;
    width: 300px;
}

.filter-item {
    position: relative;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
}

.filter-item img {
    width: 15px;
}

.filter-nav--item--list {
    margin-right: 60px;
}

.filter-nav--item--list:nth-of-type(3) {
  margin-right: 0;
}

.filter-item a {
    padding-left: 20px;
}

.filter-item img {
    padding-left: 5px;
}


.filter-nav--item--list:hover #industry-layer,
.filter-nav--item--list:hover #area-layer {
    display: block;
    z-index: 1000;
    left: 0;
    border: 1px solid #2A314B;
    background-color: #FFFFFF;
}

.filter-nav--item--list:hover #number-in {
    display: block;
    z-index: 2;
    border: 1px solid #2A314B;
    background-color: #FFFFFF;
}

#industry-search,
#area-search {
    margin-top: 10px;
    width: 100%;
}

#industry-search form,
#area-search form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#industry-search input[type="text"],
#area-search input[type="text"] {
    width: 200px;
    height: 25px;
}

#industry-search input[type="button"],
#area-search input[type="button"] {
    height: 32px;
    margin-left: -10px;
}

#industry-search input,
#area-search input {
    position: relative;
    z-index: 3;
}

.hot-push {
    display: inline-block;
    margin-top: 10px;
    padding-left: 20px;
}

#industry-list ul li,
#area-list ul li {
    height: 30px;
    width: 100%;
}

#industry-list ul li span,
#area-list ul li span {
    display: inline-block;
    width: 60px;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#number-in {
    width: 310px;
    left: 100px;
}

#number-in input[type="text"] {
    width: 60px;
}

#number {
    width: 300px;
    margin-left: 80px;
}

#number input[type="button"] {
    margin-top: 10px;
    margin-left: 160px;
}

#fanicing-list-title {
    background-color: #CAD4F7;
    margin-top: 30px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

#fanicing-list-title span {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 130px;
}

#fanicing-list-title span:nth-child(5) {
    width: 250px;
    position: relative;
    left: 50px;
}

#fanicing-list ul li {
    overflow: hidden;
    margin-left: -40px;
}

.other,
.introduction {
    height: 120px;
    float: left;
}

.other span {
    display: inline-block;
    float: left;
    height: 120px;
    width: 130px;
    text-align: center;
    line-height: 120px;
}

.other span img {
    height: 120px;
}

.introduction {
    width: 300px;
}

.introduction p {
    height: 120px;
    padding-top: 10px;
}
