#side-nav {
    margin-top: 25px;
}

#side-nav > div,
#filter-nav ul li {
    float: left;
}

#side-nav #filter-nav {
    float: right;
}

#side-nav #searchForm {
    width: 280px;
}

#industry-layer .hot-push + ul {
    height: 100px;
}

#filter-nav #searchForm {
    left: 10px;
}

#filter-nav ul,
#side-nav #filter-nav,
#side-nav,
#filter-nav #searchForm,
.filter-item,
.hot-push,
#industry-list,
#area-list,
#number,
#finance-list,
#number input[type="button"] {
    position: relative;
}

#industry-layer,
#area-layer {
    left: 0
}

#industry-layer,
#area-layer,
#number-in {
    position: absolute;
    display: none;
    width: 350px;
}

.filter-item {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
}

.filter-item img {
    width: 15px;
}

.filter-nav--item--list {
    margin-right: 90px;
}

.filter-nav--item--list:nth-of-type(3) {
    margin-right: 0;
}

.filter-item img {
    padding-left: 5px;
}

.filter-nav--item--list:hover {
    #industry-layer,
    #area-layer,
    #number-in {
        display: block;
        z-index: 2;
        border: 1px solid #E5E5E5;
        background-color: #FFFFFF;
        border-radius: 5px;
    }
    .filter-item img {
        animation: rotateImg 0.2s;
        transform: rotate(180deg)
    }
}

#industry-search,
#area-search {
    margin: 10px 0 0;
}

.hot-push {
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: left;
}

#industry-list,
#area-list,
#number-in .hot-push {
    left: 10px;
    top: 10px;
}

#industry-list ul li span,
#area-list ul li span {
    float: left;
    height: 22px;
    line-height: 22px;
    padding-right: 10px;
    margin: 0 12px 0 0;
    color: #767b91;
}

#number-in {
    width: 300px;
    right: 0;
}

#number-in input[type="text"] {
    width: 80px;
    height: 23px;
    padding: 2px 3px;
    background-color: none
}

#number {
    left: 30px;
    top: 10px;
    height: 75px;
}

#number {
    input {
        border-color: #C9C9C9;
        box-sizing: border-box;
        color: #4B4B94;
    }
    input[type="button"] {
        float: right;
        clear: both;
        right: 80px;
        height: 22px;
        top: 15px;
    }
    form label {
        padding: 0 10px;
        vertical-align: middle;
    }
}

#fanicing-list-title {
    background-color: #CAD4F7;
    margin-top: 30px;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

#fanicing-list-title span {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 130px;
}

#fanicing-list-title span:nth-child(5) {
    width: 250px;
    position: relative;
    left: 50px;
}

#area-list .hot-push + ul {
    height: 80px;
}

.other,
.introduction {
    height: 120px;
    float: left;
}

.other span {
    display: inline-block;
    float: left;
    height: 120px;
    width: 130px;
    text-align: center;
    line-height: 120px;
}

.other span img {
    height: 120px;
}

.introduction {
    width: 300px;
}

.introduction p {
    height: 120px;
    padding-top: 10px;
}

#finance-list {
    top: 40px;
}

#finance-list table {
    width: 100%;
}

@keyframes rotateImg {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

