
#main {
    color: #767B91;
}

#content {
    width: 820px;
    margin: 0 auto;
}

#glance {
	margin: 10px auto;
	width: 100%;
	overflow: hidden;
}

#finsh-tips {
	margin-top: 10px;
	width: 20%;
	margin: 0 auto;
}

#finsh-tips img {
	width: 100%;
}

#tips {
	margin: 0 auto;
	width: 60%;
}

#tips p {
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 3.5em;
}

#go {
	padding-top: 10px;
	margin: 0 auto;
	width: 30%;
}

#go ul {
	list-style: none;
}

.go-item {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 140px;
}

#item1 {

	width: 130px;
	border:1px solid #2A324B;
	border-radius: 3px;
}

#item2 {
	padding-top: 10px;
	font-size: 0.8em;
}