.loginPage {
    .first-glance {
        top: 20px;
        height: 320px;
        float: left;
        width: 48%;
    }
    #first-glance ul {
        margin: 10px 0;
    }
    .banner a {
        z-index: 100;
        position: absolute;
        top: 40%;
    }
    .banner a:nth-child(2) {
        left: 360px;
    }
    .banner a:nth-child(1) {
        left: 30px;
    }
    .banner ul li {
        background: no-repeat;
        background-size: 400px 320px;
        float: left;
    }
    .banner a img {
        width: 20px;
    }
}

#login {
    border: 1px solid #DEDFE1;
    border-radius: 3px;
    position: relative;
    float: right;
    width: 400px;
    height: 310px;
    top: 40px;
}

#login {
    form {
        position: relative;
        top: 20px;
        left: 15px;
    }
    ul {
        li {
            position: relative;
            margin-bottom: 20px;
        }
        li span {
            display: inline-block;
        }
        li {
            div {
                position: relative;
                width: auto
            }
        }
    }
}

.loginPage .label {
    height: 30px;
    position: relative;
    text-align: center;
    line-height: 30px;
    width: 80px;
    color: white;
    background: #45578F;
    border-radius: 4px 0 0 4px;
}

#login {
    .FormInput,
    input[type=password] {
        box-sizing: border-box;
        height: 30px;
        width: 220px;
        border-radius: 0 4px 4px 0;
        vertical-align: top;
        padding: 3px 2px;
        outline: none;
        background: none;
    }
    .FormInput:focus,
    input[type=password]:focus {
        box-shadow: 0 0 4px #88E4FF;
        border: 1px solid #88E4FF;
    }
    input[type=radio] {
        cursor: pointer;
        position: relative;
        z-index: 5;
        box-sizing: border-box;
        height: 16px;
        width: 50px;
        opacity: 0;
    }
    input[type=radio] + label {
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 35px;
    }
    input[type=radio]:nth-of-type(2) {
        left: 90px;
    }
    input[type=radio]:nth-of-type(2) + label {
        left: 198px;
    }
    input[type=radio]+label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    input[type=radio]:checked +label:before {
        background-color: #2A324B;
        border-style: none;
        width: 18px;
        height: 18px;
    }
    input[type=radio]:checked + label:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 5px;
        border-width: 2px;
        border-style: none none solid solid;
        border-color: white;
        top: 5px;
        left: 3px;
        transform: rotate(-45deg);
    }
}

#auth-in {
    width: 100px;
    display: inline-block;
    padding: 0;
    margin-left: -10px;
    height: 35px;
    vertical-align: middle;
}

#auth-tips {
    margin-top: 2px;
    height: 35px;
    text-align: left;
    line-height: 32px;
    width: 75px;
    color: #586798;
}

#refresh {
    position: absolute;
    left: 280px;
    color: #B2B1B1;
}

#iforget {
    width: 68px;
    margin-left: 50px;
    text-align: right;
}

#iforget a {
    font-size: 0.8em;
    color: #B2B1B1;
}

#nologin {
    margin-left: 20px;
}

#nologin-text {
    width: 80px;
    font-size: 0.8em;
    text-align: left;
    color: #B2B1B1;
}

#btn-login,
#btn-reg {
    width: 120px;
    margin-left: 30px;
    height: 35px;
    color: white;
    border: 1px solid #45578F;
    border-radius: 3px;
    background-color: #45578F;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

#btn-login {
    height: 36px;
}

#btn-reg a {
    color: white;
}

#btn-reg {
    margin-top: -20px;
}

#auth {
    position: absolute;
    width: 70px;
}

#auth img {
    height: 35px;
}

#feedback {
    color: red;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input[type="radio"] {
    margin-left: 20px;
}
