#reg--sitenav {
    border-bottom: 1px solid #E5E5E5;
    overfolw: hidden;
    height: 27px;
    margin-top: 30px;
}

#reg--sitenav {
    ul li {
        float: left;
        position: relative;
        margin-left: 14%;
        padding-bottom: 1px;
    }
    li > span {
        font-size: 1em;
    }
    li span img {
        width: 1.5em;
        vertical-align: middle;
    }
    li span img + span {
        padding-left: 4px;
    }
}

.sitnav-active {
    border-bottom: 2px solid #2A324B;
}

#reg {
    position: relative;
    width: 80%;
    margin: 0 auto 20px;
}

#reg {
    ul li span {
        display: inline-block;
        height: 27px;
        line-height: 27px;
    }
}

.label {
    display: inline-block;
    height: 27px;
    line-height: 27px;
    text-align: right;
    vertical-align: middle;
}

.reg-input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #2A324B;
    border-radius: 3px;
    height: 25px;
    width: 200px;
}

.reg-input:hover,
.reg-input:active {
    border: 1px solid #01A8DA;
}

.icon-iconfont-tishi {
    color: #01A8DA;
}

.checked {
    width: 20px;
}

#reg {
    input[type="submit"] {
        width: 200px;
        height: 25px;
        color: white;
        border-radius: 4px;
        border: 1px solid #2A324B;
        background-color: #2A324B;
    }
    input[type="submit"]:hover {
        border: none;
    }
    input[disabled],
    input:disabled {
        background-color: #DDDDDD;
        color: #767B91
    }
}

.check,
#refresh,
#auth-image {
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    line-height: 27px;
}

.icon-tips {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #01A8DA;
}

.icon-error {
    color: red;
}

#auth {
    width: 80px;
}

#refresh img,
#auth-image img {
    width: 29px;
    vertical-align: middle;
}

.reg__list {
    margin-top: 20px;
}

.reg__list {
	.label {

	}
}