body, p, h1, h2, h3, h4, h5, h6, form, ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1em;
	color: #353C54;
}

.container {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 820px;
	font-size: 0.9em;
}

.center-content {
	margin-top: 10px;
}

.content {
	text-indent: 2em;
}

.about p {
	width: 370px;
}

img.head {
	width: 30%;
	margin-left: -220px;
	float: left;
}

.top {
	position: relative;
	margin-left: 250px;
	height: 178px;
}

.center-title-line {
	height: 26px;
	position: relative;
}

.title {
	display: inline-block;
	font-size: 1.1em;
	border-bottom: 1px solid gray;
	width: 88px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	text-align: center;
}

.short-line {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 25px;
	width: 402px;
	display: inline-block;
	border-bottom: 1px solid gray;
}

.bottom-title-line {
	height: 26px;
	position: relative;
}

.long-line {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 25px;
	width: 722px;
	display: inline-block;
	border-bottom: 1px solid gray;
}

.return {
	position: absolute;
	top: 20px;
	right: 10px;
}

a {
	color: #2a324b;
}

.button {
	background: url("/images/button-inactive.png");
	background-size: 90px 40px;
	text-align: center;
	line-height: 40px;
	width: 90px;
	height: 40px;
}

.button:hover {
	background: url("/images/button-active.png");
	background-size: 90px 40px;
	text-align: center;
	line-height: 40px;
	width: 90px;
	height: 40px;
}

.button:hover a {
	color: aliceblue;
}

.button#send {
	position: absolute;
	bottom: 0;
	right: 128px;
}

.button#attention {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.center-left {
	overflow: hidden;
	width: 500px;
	float: left;
}

.clear {
	clear: both;
	margin-top: 10px;
}

.bottom {
	clear: both;
	overflow: hidden;
}

.center-right {
	border: 1px;
	width: 300px;
	height: 310px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.imgBox {
	width: 300px;
	height: 220px;
	/*  overflow: hidden;*/
	position: absolute;
}

.banner {
	position: relative;
	width: 300px;
	height: 220px;
}

.banner ul {
	height: 220px;
}

#banner-image {
	height: 220px;
}

#banner-image li {
	float: left;
	list-style: none;
	height: 220px;
	background: no-repeat;
}

ol {
	z-index: 1000;
	display: block;
	position: absolute;
	top: 240px;
	left: 15px;
	list-style: none;
}

ol li {
	width: 60px;
	height: 40px;
	margin-left: 20px;
	background: no-repeat;
	background-size: 80px 60px;
	float: left;
}