#main * {
    margin: 0;
    text-decoration: none;
}

#main {
    margin: 20px auto;
    width: 820px;
    height: 1200px;
    color: #4B4B4B;
    font-size: 1em;
}

#title {
    color: #2A324B;
    font-size: 1.8em;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.subtitle {
    position: relative;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    color: #767B91;
    padding: 5px 15px;
}

#back {
    position: absolute;
    font-size: 0.6em;
    right: 50px;
    bottom: 5px;
}

#main a {
    color: #A1A4B2;
}

hr {
    border: 2px solid #C7CCDB;
}

#main .content {
    padding-left: 15px;
    margin-top: 20px;
    width: 100%;
    height: 280px;
}

.box1 {
    position: relative;
    width: 45%;
    height: auto;
    float: left;
    line-height: 38px;
}

.box2 {
    position: relative;
    width: 35%;
    height: auto;
    float: left;
    line-height: 38px;
}

.box3 {
    padding-top: 15px;
    width: 20%;
    height: 228px;
    float: left;
}

.box3 #img {
    height: 80%;
    width: 80%;
    border: 1px solid #A1A4B2;
}

.box3 #img  img {
	 height: 80%;
    width: 80%;
}
.subbox {
    height: auto;
    width: 70%;
    padding-left: 70px;
}

#main .content input {
    margin-top: 7px;
    height: 20px;
    border: 1px solid #A1A4B2;
    border-radius: 4px;
}

.box-input {
    position: absolute;
    right: 130px;
}

#main .box2 input {
    position: absolute;
    right: 26px;
}

#main .subbox input {
    position: absolute;
    right: 55px;
}

#modify {
    width: 80%;
    line-height: 50px;
    height: 50px;
    text-align: center;
}

#main .content .textarea {
    margin: 15px 0;
    clear: both;
    width: 100%;
    height: auto;
}

select {
    height: 25px;
}

textarea {
    border: 1px solid #A1A4B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;
}

#submit {
    background-image: url("../../public/images/ok.png");
    height: 26px;
    width: 74px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    right: 240px;
}

#submit a {
    color: #EBEBEB;
}

#other {
    position: relative;
    height: 450px;
}

#other:hover #layer,
#other:active #layer {
    display: block;
}

#layer {
    position: absolute;
    border: 1px solid #A1A4B2;
    background-color: white;
    width: 800px;
    border-radius: 6px;
    display: none;
}

#list-tips {
    width: 100%;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

#nav-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    height: 32px;
    background-color: #2A324B;
}

#nav-title span {
    position: absolute;
    right: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #0D5878;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5em;
    color: #F28410;
    line-height: 30px;
}

.layer-form {
    width: 400px;
    float: left;
}

.layer-form input {
    right: 0;
    margin-left: 160px;
}

.layer-form label {
    text-align: right;
    display: inline-block;
    width: 150px;
}

#file-upload input[type="file"] {
    position: relative;
    border: none;
    opacity: 0;
    z-index: 10;
    width: 80px;
}

#btn-file {
    position: absolute;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    color: white;
    left: 155px;
    background-color: #2A324B;
}

#sure {
    position: relative;
}

#sure span {
    position: absolute;
    display: inline-block;
    right: 20px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    background-color: #2A324B;
}

#sure span a {
    color: white;
}
