#mainContainer {
	margin: 36px auto;
	width: 820px;
	height: 931px;
}

#main {
	width: 820px;
	height: 928px;
	border: 1px solid #cccccc;
	background: #DDE5E8;
	position: absolute;
	-moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
	box-shadow: 1px 1px 5px #888888;
}

#mainContent {
	margin-right: 0px;
	width: 820px;
	background: #FFF;
	height: 926px;
	padding: auto;
}

.title {
	font-size: 1.5em;
	padding-top: 35px;
	margin-left: 10px;
}

a #comebackButton {
	color: #A4B3E4;
}

#comebackButton img {
	vertical-align: middle;
}

#comebackButton {
	margin-left: 649px;
}

#searchForm {
	float: right;
	padding-top: 30px;
	padding-right: 60px;
}

#searchForm p {
	font-size: 1.2em;
	display: inline;
	vertical-align: -6%;
}

#searchButton {
	text-align: center;
	vertical-align: -6%;
	display: inline-block;
	width: 57px;
	height: 22px;
	background-color: #A4B3E4;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
}

#searchText {
	overflow: hidden;
	resize: none;
	width: 161px;
	height: 22px;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	font-size: 1em;
	margin-top: 0px;
}

#searchTitle {
	position: absolute;
	top: 21px;
	left: 747px;
	color: white;
	font-size: 1em;
}

#textClear {
	width: 13px;
	height: 14px;
	position: absolute;
	left: 678px;
	top: 69px;
}

#searchInput {
	display: inline;
	margin: 0px;
}

#selectForm p {
	font-size: 1.2em;
	display: inline;
	vertical-align: -6%;
}

#selectForm {
	padding-top: 30px;
	padding-left: 60px;
}

select {
	height: 22px;
	width: 150px;
	display: inline-block;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
}

/***************************************************************************table********************/
#TableList {
	float: left;
	width: 639px;
	height: 500px;
	background: #FFF;
	padding-top: 15px;
}

table.hovertable {
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
	color: #333333;
	border: 1px solid #A4B3E4;
	border-collapse: collapse;
	margin-left: 60px;
	width: 700px;
}

table.hovertable th {
	background-color: #A4B3E4;
	border: 1px solid #A4B3E4;
	border-right: 1px solid #FFFFFF;
	padding: 8px;
	text-align: center;
}

table.hovertable th.rightItem {
	border-right: 1px solid #A4B3E4;
}

.hovertable a {
	color: #AFB5C6;
}

table.hovertable tr {
	background-color: #d4e3e5;
	border-color: #FCFCFC;
	border-left: #FFF;
	border-right: #FFF;
	border-bottom: 10px #C7CCDB;
	text-align: center;
}

table.hovertable td {
	padding: 8px;
	background-color: white;
	border: 1px solid #A4B3E4;
	text-align: center;
}

.del-btn {
	display:inline-block;
	width: 48px;
	height: 22px;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	background-color: #A4B3E4;
	margin: auto;
}

.del-btn a {
	color:white;
}

#deleteItemsButton {
	margin-top: 20px;
	margin-left: 60px;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	background-color: #A4B3E4;
	width: 64px;
	padding: 5px;
}

#page {
	text-align: center;
	bottom: 100%;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}