@charset "utf-8";

/* CSS Document */

#main {
    padding: 0;
    margin: 0;
    color: #767B91;
}

#content {
    width: 820px;
    margin: 0 auto;
}

#sitenav {
    height: 30px;
    margin-top: 30px;
    width: 100%;
}

#sitenav {
    border-bottom: 1px solid #E5E5E5;
}

#sitenav ul {
    height: 100%;
    margin-top: -2px;
    list-style: none;
}

#sitenav ul li {
    width: 33.3%;
    float: left;
    position: relative;
    height: 30px;
}

#sitenav ul li:nth-child(1) {
    margin-left: -20px;
}

#sitenav li span {
    display: inline-block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    margin-left: 32%;
    color: #767B91;
    font-size: 1em;
}

.sitnav-active {
    border-bottom: 2px solid #2A324B;
}

#sitenav li span img {
    width: 1.5em;
    vertical-align: middle;
}

#complete-reg,
#complete-reg form {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*border: 1px solid red;*/
}

ul {
    list-style: none;
}

#left-reg,
#right-reg {
    position: relative;
    /* border: 1px solid red;*/
    float: left;
}

#left-reg {
    width: 50%;
}

#left-reg,
#right-reg {
    left: 10%;
}

#left-reg ul li {
    height: 45px;
    margin-left: -30px;
}

.label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.reg-input {
    width: 220px;
}

#first {
    width: 48px;
}

#second {
    width: 150px;
}

input {
    height: 25px;
    display: inline-block;
    border: 1px solid #A4B3E4;
    border-radius: 3px;
}

select.reg-input {
    height: 28px;
    width: 222px;
    display: inline-block;
    border: 1px solid #A4B3E4;
    border-radius: 3px;
}

#btn {
    width: 180px;
}

#file {
    top: 15px;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background: white;
    border: 1px solid #2A324B;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}

#text {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    /* margin-top: 5px;*/
    color: #666;
    font-size: 18px;
}

#fileInput {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 30px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

#right-reg {
    height: 260px;
    width: 30%;
}

#right-reg div {
    margin: 0 auto;
}

#logo-show {
    background: #2A324B;
    top: 10px;
    position: relative;
    border: 1px solid #2A324B;
    height: 200px;
    width: 80%;
}

#logo-show span {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#logo-show img {
    height: 200px;
}

#right-reg p {
    text-align: center;
}

#title {
	position: relative;
	height: 20px;
}