@charset "utf-8";
/* CSS Document */

#main {
    margin: 0;
    padding: 0;
}

#content,
#service-item {
    width: 820px;
    margin: 0 auto;
}

#first-glance {
    height: 320px;
}

#first-glance ul {
    margin: 10px -40px;
}

#first-glance ul,
#first-glance ul li,
#main,
#service-item {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner li {
    list-style: none;
}

.banner a {
    z-index: 100;
    position: absolute;
    top: 40%;
}

.banner a:nth-child(2) {
    left: 760px;
}

.banner a:nth-child(1) {
    left: 30px;
}

.banner ul li {
    background: no-repeat;
    background-size: 820px 320px;
    float: left;
}

.banner a img {
    width: 20px;
}

#service-item {
    overflow: hidden;
    height: 340px;
    margin-top: 10px;
}

#service-item div {
    float: left;
    width: 45%;
    overflow: hidden;
}

#item-esignature {
    margin-left: 4%
}

#item-management {
    margin-left: 2%;
}

.title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #2F2F2F;
    font-size: 1.2em;
    border-bottom: 1px solid #E5E5E5;
}

.item-describe {
    height: 90px;
    line-height: 25px;
    text-align: center;
}

.other {
    position: relative;
    left: 30%;
}

.other span {
    text-align: center;
    display: inline-block;
    line-height: 35px;
}

.other span:nth-child(1) {
    width: 80px;
    height: 35px;
    border: 1px solid #2A324B;
    border-radius: 2px;
    margin: 0;
}

.other span:nth-child(2) {
    width: 60px;
    height: 25px;
    font-size: 0.9em;
}

.other span:nth-child(2) a {
    color: #002F89;
}

#footer {
	position:absolute;
	bottom:0;
}
