@charset "utf-8";

/* CSS Document */

#main {
    margin: 0;
    padding: 0;
}

#content,
#data-show,
#invest-center,
#news {
    width: 820px;
    margin: 0 auto;
}

#first-glance {
    height: 320px;
}

#first-glance ul {
    margin: 10px -40px;
}

#first-glance ul,
#first-glance ul li,
#main {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner li {
    list-style: none;
}

.banner a {
    z-index: 100;
    position: absolute;
    top: 40%;
}

.banner a:nth-child(2) {
    left: 760px;
}

.banner a:nth-child(1) {
    left: 30px;
}

.banner ul li {
    background: no-repeat;
    background-size: 820px 320px;
    float: left;
}

.banner a img {
    width: 20px;
}

#data-show {
    margin-top: 10px;
    overflow: hidden;
}

#reg-num,
#rise-speed,
#circle {
    float: left;
}

#reg-num {
    width: 25%;
}

#rise-speed {
    width: 38%;
}

#circle {
    width: 32%;
}

#line-list,
#invest-list,
#news-area ul {
    list-style: none;
    overflow: hidden;
}

#line-list p {
    font-size: 0.8em;
    margin: 0;
}

#line-list li,
.list {
    float: left;
}

#data-show p {
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #393B52;
}

.data-image {
    margin-top: 0;
    height: 50px;
}

.data-image img {
    height: 45px;
}

#reg-num p:nth-child(2) {
    height: 70px;
    line-height: 70px;
    margin-top: 5px;
}

#num-show {
    margin-top: 60px;
}

#num {
    color: #FF9439;
    font-size: 3.6em;
}

#line-list {
    margin-top: -15px;
}

#line-list li {
    width: 33.3%;
    position: relative;
    left: -20px;
}

.speed {
    font-size: 0.9em;
}

#invest-center {
    margin-top: 20px;
}

#invest-center p {
    text-align: center;
    color: #717794;
}

#inv-title {
    font-size: 1.5em;
}

#invest-list {
    overflow: hidden;
    background-color: #F6F6F6;
}

.list {
    width: 50%;
    height: 240px;
}

.list:nth-child(1) {
    margin-left: -20px;
}

#zixun {
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #717794;
    font-size: 1.5em;
}

#news-area {
    width: 100%;
    margin-top: -15px;
}

#news-area span,
.title-nav a {
    color: #323140;
}

.title-nav {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

.title-nav span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.title-nav span:nth-child(1) {
    width: 30%;
    margin-left: 35%;
}

.more a {
    color: #767B91;
}

.title-nav span:nth-child(2) {
    width: 20%;
    height: 15px;
    text-align: right;
    line-height: 40px;
    font-size: 0.8em;
    margin-left: 10%;
}

#news-area ul {
    top: -12px;
    height: 240px;
    position: relative;
}

#news-area ul li {
    z-index: 100;
    border-bottom: 1px solid #ADB5BB;
    position: absolute;
    width: 48%;
}

#news-area ul li:nth-child(1) {
    left: 1%;
}

#news-area ul li:nth-child(2) {
    left: 51%;
}

#circle {
    margin-top: 10px;
    overflow: hidden;
}

#circle div {
    float: left;
}

#circle-data {
    height: 160px;
    width: 88px;
}

#circle-data ul {
    list-style: none;
}

#circle-data ul span {
    font-size: 0.6em;
    color: #767576;
}

#circle-data ul span:nth-child(1) {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#circle-data ul li {
    margin-left: -40px;
    height: 25px;
}

.svg-circle-g {
    -webkit-transform: translate(60, 60);
    -moz-transform: translate(60, 60);
    -ms- transform: translate(60, 60);
    -o-transform: translate(60, 60);
    transform: translate(60, 60);
}

.list-item {
    overflow: hidden;
    list-style: none;
}

.list-item li {
    margin-left: -20px;
    height: 30px;
}

.list-item li span {
    color: #717794;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#policy-item {
    height: 200px;
}

.zixun-item a {
    display: inline-block;
    color: #767576;
    word-wrap: normal;
    width: 20em;
    height: 1em;
    white-space: nowrap;
    line-height: 1em;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ls p:nth-child(1),
#lf p:nth-child(1),
#rf p:nth-child(1),
#rs p:nth-child(1) {
    padding-top: 10px;
}

.zixun-item p {
    font-size: 0.8em;
}
