#main{
	margin-bottom: 120px;
}
#content{
	width: 820px;
	margin: 50px auto 48px;
}
#nav{
	height: 50px;
	background: url("../images/nav.png");
	background-size: 820px 50px;
	width: 100%;
	position: absolute;
	vertical-align: middle;
	top: 10px;
	width: 820px;
	left: 0px;
}
#nav a span{
	margin-right: 30px;
	line-height: 40px;
}
#nav span a img{
	height: 21px;
	position: absolute;
	top: 12px;
}
#search{
	position: absolute;
	height: 21px;
	top: 9px;
	left: 520px;
	font-size: 0.9em;
	color: #42485C;
	line-height: 21px;
}
#nav input{
	margin-left: 300px;
}
#nav-head{
	height: 60px;
	position: relative;
	overflow: hidden;
}
#stock-manag{
	position: absolute;
	top: 26px;
	left: 25px;
	color: #EDEDF0;
}
#nav1{
	background-image: url("../images/checked.png");
	background-size: 120px 100px;
	width: 120px;
	height: 80px;
	margin-left: 35px;
	margin-top: -5px;
	position: relative;
}
#debat-manag{
	color: #42485C;
	margin-left: 170px;
}
#sift{
	position: relative;
	width: 800px;
	margin: 30px auto;
	height: 70px;
	border: 1px solid #E5E5E5;
}
#sift span{
	display: block;
	width: 80px;
	margin-top: 10px;
	margin-left: 5px;
	color: #2A324B;
	font-size: 1.0em;
}
#sift input{
	margin-top: 10px;
	margin-left: 20px;
}
#sift label{
	font-size: 0.8em;
}
#announce-time{
	position: absolute;
	top: 40px;
	left: 100px;
}
#time{
	margin-left: 20px;
	display: inline-block;
}
#announce-message{
	height: 50px;
	width: 800px;
	margin:0 auto;
	position: relative;
	border: 1px solid #E5E5E5;
}
#announce-message span{
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 1.0em;
	color: #2A324B;
}
.product{
	width: 800px;
	height: 100px;
	margin:0 auto;
	position: relative;
	border: 1px solid #E5E5E5;
}
.product span{
	display: block;
	position: relative;
	top: 10px;
	left: 15px;
	font-size: 0.9em;
	color: #2A324B;
}
.product ul{
	list-style: none;
	font-size: 0.9em;
	color: #2A324B;
}
.prod1{
	width: 400px;
	float: left;
	height: 70px;
}
.product:hover{
	background: #F7F7F7;
}
.prod2{
	width: 400px;
	float: right;
	height: 70px;
}
