ul
{
	list-style-type: none;
}

ul#sidebar
{
	padding-top: 20px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1em;
}

ul#sidebarTitle
{
	padding-left: 0px;
	text-align: center;
	font-size: 1.2em;
	color: #2A324B;
}

.sidebarItem
{
	padding-top: 15px;
	padding-left: 0px;
	color: #43495D;
}

#mainContainer
{
	margin: auto;
	width: 820px;
	height: 950px;
	margin-top: 30px;
	margin-bottom: 48px;
}

#main
{
	width: 820px;
	height: 950px;
	background-repeat: no-repeat;
	position: absolute;
	border: 1px solid #C9D2F0;
	-moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
	box-shadow: 1px 1px 5px #888888;
}

#listContent
{
	background-image: url(../images/sidebarbg.png);
	background-repeat: no-repeat;
	height: 358px;
	width: 175px;
	margin: 0px;
}

#listTitle
{
	background-image: url(../images/sidebarTitlebg.png);
	background-repeat: no-repeat;
	height: 70px;
	width: 175px;
	margin: 0px;
}

#sidebarContainer
{
	width: 175px;
	height: 950px;
	margin: 0px;
	float: left;
	background-color: #DDE5E8
}

#mainContent
{
	margin-left: 200px;
	margin-right: 0px;
	width: 582px;
}

.title
{
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 5px;
}

#searchForm
{
	float: right;
	margin-top: -5px;
}

#searchButton
{
	text-align: center;
	vertical-align: -6%;
	display: inline-block;
	width: 57px;
	height: 22px;
	background-color: #A4B3E4;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
}

#searchText
{
	overflow: hidden;
	resize: none;
	width: 261px;
	height: 22px;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	font-size: 1em;
	margin-top: 0px;
}



#searchTitle
{
	position:absolute;
	top:11px;
	left:747px;
	color: white;
	font-size: 1em;
}

#input
{
	display: inline;
	margin: 0px;
}

#textClear
{
	width: 13px;
	height: 14px;
	position: absolute;
	left: 700px;
	top: 30px;
}

#headPhotoBox
{
	float: right;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	background-color: #A4B3E4;
}

th
{
	padding: 0px;
	background-color: #A4B3E4;
	height: 30px;
}

td.listItem
{
	height: 20px;
	text-align: left;
}

table
{
	border-collapse: collapse;
	width: 80%;
	margin-left: 0px;
}

#albumContainer
{
	width: 500px;
	height: 205px;
	border: 1px solid #C9D2F0;
	border-radius: 5px;
	white-space: nowrap;
	overflow: auto;
}

#publishButton
{
	position: absolute;
	top: 880px;
	left: 432px;
	width: 131px;
	border: 3px solid #A4B3E4;
	border-radius: 5px;
	text-align: center;
}

a #publishButton
{
	color: #A4B3E4;
}

#page
{
	text-align: center;
	bottom: 100%;
}

.nav {
    background-color: #dde5e8;
    color: #43495d;
    height: 615px;
    padding-top: 15px;
    position: relative;
    width: 20%;
}
.tit {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 8px #ccc;
    font-size: 1.2em;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.tri {
    border-color: #dde5e8 #dde5e8 #fff;
    border-style: solid;
    border-width: 8px 8px 14px;
    height: 0;
    margin: 0 auto;
    width: 0;
}
.tri1 {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 8px 8px 14px;
    height: 0;
    left: 75px;
    position: absolute;
    top: 52px;
    width: 0;
}
.list {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 8px #ccc;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 80%;
}
.list ul li {
    color: #43495d;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
    margin: 10px -19px;
    width: 100%;
}
.on {
    background: #dde5e8 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #999 inset;
}
.nav a {
    color: #43495d;
}

.list ul li a {
	color: #43495d;
}