.wrap{
	width: 820px;
	margin:35px auto;
}
.title{
	font-size: 1.6em;
	text-align: center;
	margin-bottom: 20px;
}
.sort{
	float: left;
}
.search{
	float: right;
}
.sort span{
	font-size: 1em;
}

.select{
	position:relative;
	float:left;
	margin:0 10px;
	height: 25px;
	
}
.select span{
	position: absolute;
	top:5px;
}
.select dt{

	height:25px;
	display:inline-block;
	border:1px solid #2A324B;
	background:#fcfcfb url(../images/tri.png) no-repeat 97px center;
	line-height:25px;
	color: #2A324B;
	padding-left:10px;
	width:90px;
	padding-right:12px;
	overflow:hidden;
	position:relative;
	z-index:99;
	border-radius: 5px;
	margin-left: 45px;
	
}
.select dt:hover,.select dt.cur{
	border:1px solid #2A324B;
	box-shadow:0 0 3px #2A324B;
	
}
.select dd{
	position:absolute;
	left:8px;
	top:29px;
	border:1px solid #2A324B;
	background:#fff;
	display:none;
	border-radius: 5px;
}
.select dd ul{
	padding: 0;
	text-align: center;
	width:112px;
	max-height:250px;
	overflow:auto;
}
.select dd ul li a{
	line-height:25px;
	display:block;
	padding:0 4px;
	color: #2A324B;
}
.select dd ul li a:hover{
	background:#f5f5f5;
}

.search button{
	cursor: pointer;
	border-radius: 5px;
	border: none;
	width: 70px;
	height: 29px; 
	color: white;
	background: url(../images/search.png);
}
.search input{
	width: 150px;
	height: 26px;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid #A4B3E4;
}
table{
	width: 820px;
	clear: both;
	margin-top: 65px;
	font-size: 0.8em;
}
th{
	background: #2A324B ;
	height: 50px;
	border:none;
	color: white;
	border: 1px solid white;
	border-bottom: 1px solid #2A324B ;
}

td{
	
	height: 90px;
	border: 1px solid #2A324B;
	text-align: center;
}
table tr td button{
	color: #2A324B;
	border: 1px solid #2A324B;
	border-radius: 5px;
	width: 50px;
	height: 25px;
	cursor: pointer;
	background: white;

}

.page{
	height: 200px;
	
}
.slider{
	width: 820px;
	text-align: center;

}
.company{
	font-size: 1.6em;
	text-align: center;
	margin-bottom: 20px;
}
.slider_left{
	width: 50%;
	float: left;
}

.slider_right{
	width: 50%;
	float: right;
}



#focus1 {
	margin: 0 auto;
	margin-top: 25px;
	width:350px;
	height:280px;
	overflow:hidden;
	position:relative;
}
#focus1 ul {
	height:280px;
	position:absolute;
	margin: 0;
	padding: 0;
}
#focus1 ul li {
	float:left;
	width:350px;
	height:280px;
	
	position:relative;
	background:#000;
}

#focus1 .pre{ 
	cursor:pointer; 
	width:45px; 
	height:45px; 
	background:url(../images/ll.png) no-repeat; 
	position:absolute; 
	top:130px; 
	left:10px; 
	z-index:10;
}
#focus1 .next{ 
	cursor:pointer; 
	width:45px; 
	height:45px; 
	background:url(../images/rr.png) no-repeat; 
	position:absolute; 
	top:130px; 
	right:10px; 
	z-index:10;
}




#focus1 img,#focus img{
	width: 350px;
	height: 280px;
	overflow: hidden;
} 
li{
	list-style:none;
}

#focus {
	margin: 0 auto;
	margin-top: 25px;
	width:350px;
	height:280px;
	overflow:hidden;
	position:relative;
}
#focus ul {
	height:280px;
	position:absolute;
	margin: 0;
	padding: 0;
}
#focus ul li {
	float:left;
	width:350px;
	height:280px;
	
	position:relative;
	background:#000;
}

#focus .pre{ 
	cursor:pointer; 
	width:45px; 
	height:45px; 
	background:url(../images/ll.png) no-repeat; 
	position:absolute; 
	top:130px; 
	left:10px; 
	z-index:10;
}
#focus .next{ 
	cursor:pointer; 
	width:45px; 
	height:45px; 
	background:url(../images/rr.png) no-repeat; 
	position:absolute; 
	top:130px; 
	right:10px; 
	z-index:10;
}

.slider{
	margin-bottom: 70px;
	overflow: hidden;
}

.see-more {
	width:100%;
	height:auto;
	margin:0 auto;
}

.see-more span a {
	color: #2A324B;
}
.see-more span {
	display:inline-block;
	text-align:center;
	
}