@charset "utf-8";

/* CSS Document */
#main {
	padding: 0;
	margin: 0;
}

#content {
	width: 820px;
	margin: 0 auto;
}

#sitenav {
	height: 30px;
	margin-top: 30px;
	width: 100%;
}

#sitenav {
	border-bottom: 1px solid #E5E5E5;
	overfolw:hidden; 
}

#sitenav ul {
	height: 100%;
	margin-top: -2px;
	list-style: none;
}

#sitenav ul li {
	width: 33.3%;
	float: left;
	position: relative;
	height: 30px;
}

#sitenav ul li:nth-child(1) {
	margin-left: -20px;
}

#sitenav li span {
	display: inline-block;
	position: absolute;
	height: 30px;
	line-height: 30px;
	margin-left: 32%;
	color: #767B91;
	font-size: 1em;
}

.sitnav-active {
	border-bottom: 2px solid #2A324B;
}

#sitenav li span img {
	width: 1.5em;
	vertical-align: middle;
}

#reg {
	position: relative;
	top: 10px;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
}

#reg ul {
	color: #767B91;
	list-style: none;
}

#reg ul li {
	height: 50px;
}

#reg ul li span {
	display: inline-block;
	height: 27px;
	/* border: 1px solid red;*/
	line-height: 27px;
}

.label {
	display: inline-block;
	height: 27px;
	line-height: 27px;
	text-align: right;
	vertical-align: middle;
	width: 110px;
}

.reg-input {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #2A324B;
	border-radius: 3px;
	height: 25px;
	width: 200px;
}

.reg-input:hover, .reg-input:active {
	border: 1px solid #01A8DA;
}

.icon-iconfont-tishi {
	color: #01A8DA;
}

.checked {
	width: 20px;
}

#btn {
	width: 200px;
	height: 25px;
	color: white;
	border-radius: 4px;
	border: 1px solid #2A324B;
	background-color: #2A324B;
}

#btn:hover {
	border: none;
}

#reg a {
	color: #7A95EE;
}

#login a {
	font-size: 0.8em;
}

.icon-tips {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #01A8DA;
}

.icon-error {
	color: red;
}

input[disabled], input:disabled {
	background-color: #DDDDDD;
}

.check, #refresh, #auth-image {
	display: inline-block;
	height: 27px;
	vertical-align: middle;
	line-height: 27px;
}

#auth {
	width: 80px;
}

#refresh img, #auth-image img {
	width: 29px;
	vertical-align: middle;
}

.none {
	display:none;
}

#footer {
	position:absolute;
	bottom:0;
}