@charset "utf-8";
/* CSS Document */
#main_body_m{
    background:#F5F5F5 ;
    height: 830px;
}
#swap{
    height: 730px;
    width: 870px;
    margin: 0px auto;
}

#list{
    font-size: large;
    margin-left: 1px;
    width: 163px;
    float: left;
    background: white;
}
#list-title{
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    background: #2A3F4B;
    border: 1px solid #E3E3E3;
}
#list-item{
    height: 120px;
    letter-spacing: 1px;
    width: 80%;
    margin: auto auto;

}
#list-item> span{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 25px;
    height: 25px;
    margin: 10px auto;
    margin-top: 12%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #B4B4B4;

}
#list-item #selected{
    border-radius: 8px;
    background:#88ABDA;
    color: white;
}

#swap>.main_body{
    width: 650px;
    height: 90%;
    float: left;
    background: white;
    margin: 20px auto auto 20px;
}

#main_first{
    width: 100%;
    height: 60%;
}

.first{
    width: 47%;
    float: left;
    line-height: 2em;
    margin-left: 2%;
}
.input{
    width: 60px;
}
.input_form{
    line-height: 40px;
    display: block;
}
.input_textarea{
    height:30px;
    line-height: 30px;
    margin-right: 10px;
    float: left;
}

.body_title{
    font-size: 23px;
    line-height: 40px;
    margin-left: 2%;
}
hr{
    height: 4px;
    background: #C7CCDB;
    margin-top: 0%;
    margin-left: 2%;
}

.input_text{
    margin-left: 2%;
}

#button{
    width: 40px;
    height: 30px;
    background: #2A324B;
    border-radius: 5px;
    color: white;
    font-family: "微软雅黑";
    letter-spacing: 2px;
    line-height: 30px;
    padding-left: 32px;
    padding-right: 30px;
    margin: auto;
    margin-top: 25%;
    margin-left: 81%;
}

.input_text_1{
    margin-left: 2%;
    width: 48%;
    float: left;
    line-height: 30px;
}
.input_text_2{
    width: 48%;
    float: left;
    line-height: 30px;
}

textarea {
	resize:none;
}