#mainContainer
{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 36px;
	width: 820px;
	height: 1231px;
}

#main
{
	width: 820px;
	height: 1231px;
	position: absolute;
    	border:1px solid #cccccc;
	position: absolute;
	-moz-box-shadow: 1px 1px 5px #888888; /* 老的 Firefox */
	box-shadow: 1px 1px 5px #888888;
}

#mainContent
{
	margin-right: 0px;
	width: 820px;
	background:#FFF;
	height:926px;
	padding: auto;
}

.title
{
	font-size: 1.5em;
	padding-top: 35px;
	margin-left: 10px;
}

#searchForm
{
	padding-top: 30px;
	padding-left: 60px;
	display: inline-block;
}

#searchButton
{
	text-align: center;
	vertical-align: -6%;
	display: inline-block;
	width: 57px;
	height: 22px;
	background-color: #A4B3E4;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
}

#searchText
{
	overflow: hidden;
	resize: none;
	width: 161px;
	height: 22px;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	margin-top: 0px;
}

#searchTitle
{
	position:absolute;
	top:21px;
	left:747px;
	color: white;
	font-size: 1em;
}

#textClear
{
	width: 13px;
	height: 14px;
	position: absolute;
	left: 205px;
	top: 35px;
}

#searchInput
{
	display: inline;
	margin: 0px;
}

#selectForm p
{
	font-size: 1em;
	display: inline;
}

#selectForm
{
	padding-top: 30px;
	padding-left: 20px;
	display: inline-block;
}

select
{
	height: 20px;
	width: 150px;
	display: inline-block;
	border: 1px solid #A4B3E4;
	border-radius: 5px;
	outline: none;
}

#patchPanel
{
	border: 1px solid #A4B3E4;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 60px;
	width: 700px;
	padding-top: 10px;
	padding-bottom: 10px; 
}

.selectItemGroup
{
	display: inline-block;
	width: 620px;
	vertical-align: top;
}

.selectItem
{
	margin-right: 19px;
	display: inline-block;
	width: 90px;
	white-space: nowrap; 
}

.sizeSelect
{
	width: 60px;
	height: 20px;
	outline: none;
	border: 1px solid #A4B3E4;
	border-radius: 10px;
	outline: none;
    	text-align: center;
}

#patchConfirmButton
{

	border: 1px solid #A4B3E4;
	border-radius: 10px;
	background-color: #A4B3E4;
	outline: none;
	width: 40px;
	text-align: center;
	margin-left: 630px;
}

#TableList{
	float:left;
	width:639px;
	height:500px;
	background:#FFF;
	padding-top:15px;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#333333;
	border: 1px solid #A4B3E4;
	border-collapse: collapse;
	width: 700px;
	margin-left: 60px;
}

th
{
	background-color: #A4B3E4;
	border-right: 1px solid #FFFFFF;
	padding: 8px;
	text-align: center;
}

th.rightItem
{
	border-right: 1px solid #A4B3E4;
}


td {
	padding: 8px;
    	background-color: white;
    	border: 1px solid #A4B3E4;
	text-align: center;
}

#page
{
	text-align: center;
	bottom: 100%;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}