#service-item {
    width: 840px;
    margin: 0 auto;
}

#first-glance {
    height: 320px;
}

#first-glance ul {
    margin: 10px -40px;
}

#first-glance ul,
#first-glance ul li,
#service-item {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner li {
    list-style: none;
}

.banner a {
    z-index: 100;
    position: absolute;
    top: 40%;
}

.banner a:nth-child(2) {
    left: 760px;
}

.banner a:nth-child(1) {
    left: 30px;
}

.banner ul li {
    background: no-repeat;
    background-size: 820px 320px;
    float: left;
}

.banner a img {
    width: 20px;
}

#service-item {
    overflow: hidden;
    height: 340px;
    margin-top: 10px;
}

#service-item div {
    float: left;
    width: 48%;
    overflow: hidden;
}

#item-esignature {
    margin-left: 1%
}

#item-management {
    margin-left: 2%;
}

.title {
    font-family: "微软雅黑";
    height: 40px;
    letter-spacing: 5px;
    line-height: 40px;
    text-align: center;
    color: #767B91;
    font-size: 1.2em;
    border-bottom: 1px solid #E5E5E5;
}

.item-describe {
    font-family: "微软雅黑";
    line-height: 25px;
    letter-spacing: 3px;
    text-align: center;
    color: #767B91;
}

#service-item .other {
    position:relative;
    width: 120px;
    left: 50%;
    margin: 10px 0 0 -45px;
}

.other>.content_more {
    text-align: center;
    display: inline-block;
    padding: 6px 10px;
    width: auto;
    height: auto;
    border: 2px solid rgba(21, 19, 19, 0.6);
    border-radius: 6px;
    line-height: 22px;
}

.other>.content_more_text {
    line-height: 35px;
    font-size: smaller;
    width: 120px;
    left: 650px;
    height: 35px;
    line-height: 22px;
}

.other>.content_more_text_1 {
    line-height: 25px;
    font-size: smaller;
    position:relative;
    width: 120px;
    left: 50%;
    height: 25px;
    margin: 5px 0 0 -70px;
}
