@charset "utf-8";
body {
    font-size: 1em;
    margin: 0;
}

body,
#header-investor,
#header-nav,
#header-nav div {
    padding: 0;
}

#header-investor {
    margin: 0;
    font-size: 1em;
    position: relative;
    width: auto;
    height: 45px;
    color: white;
    background-color: #2a324b;
}

#header-nav {
    margin: 0;
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}

#header-investor {
    #header-nav div {
        float: left;
        zoom: 1;
    }
    #nav-logo {
        position: relative;
        width: 120px;
        left: 80px;
        height: 45px;
    }
    #nav-logo span {
        display: inline-block;
        width: 160px;
        margin-left: 0;
        height: 40px;
        margin-top: -2px;
        line-height: 40px;
        vertical-align: middle;
    }
    #logo {
        vertical-align: middle;
        height: 45px;
    }
    #fonts {
        width: 100px;
    }
    #nav-list ul,
    #iciti ul {
        list-style: none;
        margin: 0;
    }
    #nav-list {
        margin-left: 70px;
        height: 45px;
        width: 520px;
    }
    #nav-list ul {
        margin-left: 0;
    }
    #nav-list ul span {
        width: 100%;
    }
    .nav-item:hover,
    #nav-list .active {
        border-top: 4px solid white;
        line-height: 37px;
        height: 41px;
    }
    .nav-item {
        color: white;
        height: 45px;
        line-height: 44px;
        display: inline-block;
    }
    #nav-list ul li {
        text-align: center;
        float: left;
        height: 45px;
        zoom: 1;
        top: 0;
    }
    #nav-list ul li {
        width: 120px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    #finance-subnav {
        position: absolute;
        left: -999em;
        width: 100%;
        height: 30px;
        overflow: hidden;
        z-index: 1000;
        background-color: #EBEBEB;
    }
    #finance-subnav ul {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 30px;
        width: 980px;
        left: 27%;
        transform: translate(-50%, 0);
        top: 0;
        bottom: 0;
    }
    #finance:hover #finance-subnav {
        display: block;
        position: absolute;
        left: -1px;
        top: auto;
        right: -1px;
    }
    #finance-subnav ul li {
        width: 80px;
    }
    #finance-subnav ul li:nth-child(1) {
        margin-left: 540px;
    }
    #finance-subnav ul span {
        display: inline-block;
        height: 30px;
        color: #2A324B;
        font-size: 0.8em;
        line-height: 30px;
        text-align: center;
    }
    #iciti {
        position: relative;
        left: 35px;
        width: 200px;
    }
    #i-column {
        list-style: none;
    }
    #user-photo,
    #go {
        height: 45px;
        width: 120px;
        float: left;
        padding:0;
    }
    #user-photo {
        width: 55px;
        margin-left: -40px;
    }
    #user-photo span {
        display: inline-block;
        margin: 2px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #0D5878;
    }
    #user-photo img {
        vertical-align: middle;
        margin: 5px 8px;
        width: 25px;
    }
    #text {
        display: inline-block;
        text-align: left;
        width: 120px;
        height: 45px;
        color:white;
        line-height: 40px;
        vertical-align: middle;
    }
    #go ul {
        position: absolute;
        width: 100px;
        display: none;
        z-index: 1000;
        background-color: #0D5878;
        border-radius: 3px;
    }
    #go ul li {
        height: 30px;
        position: relative;
        font-size: 0.9em;
        line-height: 30px;
        text-align: center;
    }
    #go ul li:hover {
        background-color: #00AADD;
    }
    #go:hover ul {
        position: absolute;
        display: block;
        z-index: 1000;
        border-radius: 3px;
    }
    #go:hover img {
        animation: roate 2s;
    }
    #text img {
        width: 12px;
        padding-left: 4px;
        vertical-align: middle;
    }
    @keyframes roate {
        0% {
            transform: roate(0)
        }
        25% {
            transform: roate (45deg);
        }
        50% {
            transform: roate (90deg)
        }
        75% {
            transform: roate (135deg);
        }
        90% {
            transform: roate (180deg);
        }
    }
}
