@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?-268p4l');
    src: url('/fonts/icomoon.eot?#iefix-268p4l') format('embedded-opentype'), url('/fonts/icomoon.ttf?-268p4l') format('truetype'), url('/fonts/icomoon.woff?-268p4l') format('woff'), url('/fonts/icomoon.svg?-268p4l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tishi:before {
    content: "\e600";
}

.icon-tips:before {
    content: "\e600";
    color: #01A8DA;
}

.icon-error:before {
    content: "\e603";
    color: red;
}

.icon-iconfont-zhengque:before {
    content: "\e601";
}

.icon-success:before {
    content: "\e601";
    color: #7AC23C;
}

.icon-iconfont-tishi2d:before {
    content: "\e602";
    color: #01A8DA;
}

.icon-iconfont-clear:before {
    content: "\e603";
}
